
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
  }
  
  .row::after{
    content:"";
    clear:both;
    display:block;
  }
  
  [class*="col-"]{
    float:left;
    padding: 15px;
  }
  
  .header{
    background-color: black;
    color:white;
    padding:15px;
    text-align:center;
  }

  .nav_bar ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .nav_bar li{
      padding: 10px;
      margin-bottom: 7px;
      background-color: green;
      color: whitesmoke;
      font-weight: bold;
  }
  .nav_bar li:hover{
      
  }
  
  
  .menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }
  
  .menu li{
    padding:10px;
    margin-bottom: 7px;
    background-color: wheat;
    color:blue;
    font-weight: bold;
  }
  
  .menu li:hover{
    background-color: lightgreen;
    color:black;
  }
  
  .right_box{
    background-color: lightsalmon;
    padding:30px;
    color:black;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
  }
  
  .footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding:50px;
    font-weight: bold;
  }
  
  .col-1{
    width:10%;
  }
  
  .col-2{
    width:20%;
  }
  
  .col-3{
    width:25%;
  }
  
  .col-4{
    width:40%;
  }
  
  .col-5{
    width:41.66%;
  }
  
  .col-6{
    width:50%;
  }
  
  .col-7{
    width:60%;
  }
  
  .col-8{
    width:60%;
  }
  
  .col-9{
    width:60%;
  }
  
  .col-10{
    width:80%;
  }
  
  .col-11{
    width:90%;
  }
  
  .col-12{
    width:100%;
  }
  
  @media only screen and (max-width: 768px){
    [class*="col-"]{
      width: 100%;
      /* implement anything of css when the screen size is max of 768px */
    }
  }